/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Jost',sans-serif;
    background:#fff;
    color:#111;
    overflow-x:hidden;
}

a{
    text-decoration:none;
    color:inherit;
}

button,
input,
select{
    font-family:inherit;
}

img{
    display:block;
    max-width:100%;
}

ul{
    list-style:none;
}

.container{
    width:min(1450px,92%);
    margin:auto;
}

/* Scrollbar */

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-track{
    background:#f5f5f5;
}

::-webkit-scrollbar-thumb{
    background:#b5b5b5;
    border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
    background:#888;
}

::selection{
    background:#111;
    color:#fff;
}